body{
  background-color: aquamarine !important;
}

li {
  padding: 5px;
  margin: 5px;
  background: hsl(44, 83%, 73%);
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(250, 205, 83);
}

.form-group {
  margin-bottom: 5px;
}
